.Navbar {
}

.Dark .brand b {
  background: linear-gradient(
    227.1deg,
    rgb(var(--accent-color)) 19.14%,
    rgba(var(--accent-color), 0.5) 81.38%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.Dark .helper-tools input {
    border: none;
    background-color: transparent;
    text-align: right;
    color: white;
    margin-right: 1ch;
    
}



.Dark .helper-tools button[data-icon="search"]{
    background-image: url("../../../../assets/icons/search-dark.svg");
}

.Dark .helper-tools > button[data-icon="settings"]{
    background-image: url("../../../../assets/icons/gear-dark.svg");
}